body{
  background-color: #FFFFFF;
}

/* html {
  scroll-behavior: smooth;
} */

.navbar{
  background-color: #282424 !important;
  padding: 0 15px;
  height: 60px;
}

.navbar-collapse{
  background-color: #282424 !important;
}

.navbar-toggler .navbar-toggler-icon {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 192, 5, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar .collapse a{
  color: #E9DADA !important;
  padding: 12px;
}
.navbar .collapse a:hover{
  background-color: #FFCD38;
  color: #282424 !important;
} 
.navbar .collapse a:active{
  background-color: #FFC005;
} 

.jumbotron{
  height: 650px;
  color: #282424;
  background: url('../images/bg-jumbo.jpg') center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.jumbotron h1{
  padding: 10px;
  background-color: #282424;
  color: #FFC005;
}

.jumbotron p{
  padding: 10px;
  background-color: #FFC005;
}

h2{
  background-color: #282424;
  color: #FFC005;
  margin-top: 40px !important;
}

.logo{
  position: relative;
  top: 25%;
}

.card-yl{
  box-shadow: 5px 5px 8px #433C3C;
  background-color: #FFC005;
}

.card-img-top{
  width: 30%;
}

.list-group .list-group-item{
  width: 100%;
  background-color:#282424;
  color: #E9DADA;
}

.exp img{
  width: 70%;
}

.card-service > .card-div{
    position: relative;
}

.card-body-service{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;
}

.card-title{
  display: inline-block;
  vertical-align: middle;
  font-weight: bolder;
  color: #282424;
}

.card-text{
  color: #282424;
}

.card-service{
  background-color: #FFC005;
  border: none;
  border-radius: 0 !important;
}

.card-img{
  object-fit: cover;
}

.h-md-card{
  height: 20em;
}

.h-card{
  height: auto;
}

.h-img{
  height: 20em;
}

.carousel-inner > .carousel-item {
    height: 320px;
    position: relative;
}

.carousel-inner img{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;
}

.carousel-control-next{
  width: 5%;
  background-color: #FFC005;
  border-radius: 0 10px 10px 0;
}

.carousel-control-prev{
  width: 5%;
  background-color: #FFC005;
  border-radius: 10px 0 0 10px;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.contact{
  background-color: #282424;
  color: #FFC005
}

.contact input, .contact textarea{
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #FFC005;
}

.contact input:enabled, .contact textarea:enabled{
  color: #E9DADA;
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #FFC005;
}

.contact input::-webkit-input-placeholder, .contact textarea::-webkit-input-placeholder{ 
  color:#E9DADA; 
} 

.contact input:-moz-placeholder, .contact textarea:-moz-placeholder{
   /* Firefox 18- */ color:#E9DADA 
} 

.contact input::-moz-placeholder, .contact textarea::-moz-placeholder{
   /* Firefox 19+ */ color:#E9DADA;
} 

.contact input:-ms-input-placeholder, .contact textarea:-ms-input-placeholder{
  color:#E9DADA
}

.contact input:focus::-webkit-input-placeholder, .contact textarea:focus::-webkit-input-placeholder{
  color:transparent;
}

.btn{
  background-color: #FFC005;
  color: #282424;
}

.btn:active{
  background-color: #E9DADA;
  color: #282424;
}

.btn:hover{
  background-color: #FFCD38;
  color: #282424;
}